* {
    font-family: 'Open Sans';
}

body {
    overflow-y: scroll;
}

.logo {
    width: 100%;
    max-width: 100px;
}

.center {
    max-width: 1280px;
    padding: 0 10%;
    margin: 0 auto;
}

.w33 {
    width: 33.3%;
    padding: 0 10px;
}

.w50 {
    padding: 0 10px;
    width: 50%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

/* Estilização do sistema */

header {
    padding: 20px 0;
    background-color: #5A1702;
}

.mobile {
    display: none;
}

nav.desktop ul {
    position: relative;
    top: 6px;
    list-style-type: none;
}

nav.desktop li {
    font-weight: 300;
    font-size: 15px;
    padding: 0 30px;
    text-transform: uppercase;
    display: inline-block;
}

nav.desktop a {
    color: white;
    text-decoration: none;
}

.msg {
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

.novo-livro {
    margin-bottom: 10px;
}

.novo-livro i {
    font-size: 25px;
    transition: 0.5s;
}

.novo-livro i:hover {
    color: #ce9d5a;
}

.busca {
    margin: 20px 0;
}

.busca h1 {
    font-weight: 300;
    margin-bottom: 20px;
}

#livros-container {
    margin-top: 10px;
    padding: 8px;
}

#livros-container .card {
    max-width: 24%;
    padding: 0;
    margin: 5px;
    align-items: center;
}

.capa-livro {
    max-width: 100px;
}

div.card-body {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.card-body h6 {
    margin-bottom: 40px;
}

div.card-body a {
    background-color: #ce9d5a;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
    padding: 5px 0;
    color: #000;
    transition: 0.5s;
}

div.card-body a:hover {
    background-color: #5a1702;
    color: #FFF;
}

.div-detalhe-livro {
    margin-top: 20px;
}

#capa-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.capa-detalhe {
    max-width: 250px;
}

.sem-status {
    color: #acafad;
    font-size: 18px;
    margin-right: 5px;
}

.lido {
    color: #155724;
    font-size: 18px;
    margin-right: 5px;
}

.lendo {
    color: rgb(253, 236, 0);
    font-size: 18px;
    margin-right: 5px;
}

.quero-ler {
    color: rgb(216, 0, 0);
    font-size: 18px;
}


.table-livros {
    background-color: #ce9d5a;
}

.btn-livros {
    border: none;
    background: none;
}

#livros-container form {
    display: inline-block;
}

.form-group {
    margin: 20px 0;
}

.div-btn-cad {
    text-align: center;
}

.div-btn-cad input {
    width: 100%;
    margin: 10px 0;
}

footer {
    text-align: center;
    background-color: #36160c;
    color: #FFF;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: none;
}

/* Edit page */
.img-preview {
    width: 100px;
}

@media screen and (max-width: 768px) {    
    .w50 {
        padding: 20px;
        width: 100%;
    }
    
    .w33 {
        width: 100%;
        padding: 20px;
    }

    #livros-container .card {
        max-width: 97%;
        padding: 0;
        margin: 5px;
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    nav.desktop {
        display: none;
    }

    nav.mobile {
        display: block;
    }

    .botao-menu-mobile {
        font-size: 24px;
        cursor: pointer;
        color: white;
    }

    nav.mobile ul {
        display: none;
        z-index: 3;
        position: absolute;
        left: 0;
        top: 70px;
        text-align: center;
        width: 100%;
        padding: 0;
    }

    nav.mobile li {
        font-size: 17px;
        font-weight: 300;
        padding: 8px 0;
        width: 100%;
        display: block;
        background: white;
        border-bottom: 1px solid #ccc;
    }

    nav.mobile li a {
        display: block;
        color: #444;
        text-decoration: none;
    }

    .capa-detalhe {
        max-width: 150px;
    }
}