* {
    font-family: 'Open Sans';
}

body {
    overflow-y: scroll;
}

.logo {
    width: 100%;
    max-width: 100px;
}

.center {
    max-width: 1280px;
    padding: 0 10%;
    margin: 0 auto;
}

.w33 {
    width: 33.3%;
    padding: 0 10px;
}

.w50 {
    padding: 0 10px;
    width: 50%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

/* Estilização do sistema */

header {
    padding: 20px 0;
    background-color: #5A1702;
}

.mobile {
    display: none;
}

nav.desktop ul {
    position: relative;
    top: 6px;
    list-style-type: none;
}

nav.desktop li {
    font-weight: 300;
    font-size: 15px;
    padding: 0 30px;
    text-transform: uppercase;
    display: inline-block;
}

nav.desktop a {
    color: white;
    text-decoration: none;
}

.dropdown {
    color: #FFF;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    left: -26px;
}

.dropdown-content a {
    color: black !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: lightgray;
}

/* Welcome */

.box-ultimos {
    margin-top: 20px;
}

.box-ultimos h5 {
    margin: 30px 0 5px 0;
}

.box-ultimos-mobile {
    display: none;
}

.box-ultimos ul{
    list-style-type: none;
    background-color: #ce9d5a;
    height: 114px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

.box-ultimos li {
    float: left;
    margin-right: 10px;
}

.box-ultimos li a{
    text-decoration: none;
}

.box-ultimos img {
    height: 145px;
}

/* Welcome */

.msg {
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

.novo-livro {
    margin-bottom: 10px;
}

.novo-livro i {
    font-size: 25px;
    transition: 0.5s;
}

.novo-livro i:hover {
    color: #ce9d5a;
}

.busca {
    margin: 20px 0;
    padding: 0 !important;
}

.busca h1 {
    font-weight: 300;
    margin-bottom: 20px;
}

#livros-container {
    margin-top: 10px;
    padding: 8px;
}

#livros-container .card {
    max-width: 24%;
    padding: 0;
    margin: 5px;
    align-items: center;
}

.capa-livro {
    max-width: 100px;
    max-height: 130px;
}

.capa-livro-detalhe {
    max-width: 160px;
}

div.card-body {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.card-body h6 {
    margin-bottom: 40px;
}

div.card-body a {
    background-color: #ce9d5a;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
    padding: 5px 0;
    color: #000;
    transition: 0.5s;
}

div.card-body a:hover {
    background-color: #5a1702;
    color: #FFF;
}

.div-detalhe-livro {
    margin-top: 20px;
}

#capa-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#info-container {
    background: #ce9d5a;
    padding: 6px 0 6px 20px;
}

.capa-detalhe {
    max-width: 250px;
}

.sem-status {
    color: #acafad;
    font-size: 18px;
    margin-right: 5px;
}

.lido {
    color: #155724;
    font-size: 18px;
    margin-right: 5px;
}

.lendo {
    color: rgb(253, 236, 0);
    font-size: 18px;
    margin-right: 5px;
}

.quero-ler {
    color: rgb(216, 0, 0);
    font-size: 18px;
}


.table-livros {
    background-color: #ce9d5a !important;
}

.btn-livros {
    border: none;
    background: none;
}

#livros-container form {
    display: inline-block;
}

.form-group {
    margin: 20px 0;
}

.div-btn-cad {
    text-align: center;
}

.div-btn-cad input {
    width: 100%;
    margin: 10px 0;
}

/* Estante */

.capa-livro-estante {
    max-width: 100px;
    max-height: 130px;
    margin-bottom: 34px;
}

.titulo-livro-estante {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2px;
}

#tag-lido {
    margin-bottom: 29px;
    padding: 2px 4px;
    font-size: 13px;
    border-radius: 4px;
    height: 25px;
}

.tag-status {
    cursor: pointer;
}

.link-status {
    background-color: transparent !important;
    width: auto !important;
    left: 0;
}

#tag-ler {
    margin-bottom: 29px;
    padding: 2px 4px;
    font-size: 12.5px;
    border-radius: 4px;
    height: 25px;
}

#tag-lendo {
    margin-bottom: 29px;
    padding: 2px 4px;
    font-size: 13px;
    border-radius: 4px;
    height: 25px;
}

.card-detalhe {
    background-color: #ce9d5a;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
    padding: 5px 0;
    color: #000;
    transition: 0.5s;
}

.card-detalhe a{
    text-decoration: none;
    color: #000;
}

.card-detalhe:hover {
    text-decoration: none;
    color: #FFF;
    background-color: #5A1702;
}
/* Estante */

footer {
    text-align: center;
    background-color: #36160c;
    color: #FFF;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: none;
}

/* Edit page */
.img-preview {
    width: 100px;
}

@media screen and (max-width: 768px) {    
    .w50 {
        padding: 20px;
        width: 100%;
    }
    
    .w33 {
        width: 100%;
        padding: 20px;
    }

    #livros-container .card {
        max-width: 97%;
        padding: 0;
        margin: 5px;
        align-items: center;
    }

    #capa-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 700px) {
    nav.desktop {
        display: none;
    }

    nav.mobile {
        display: block;
    }

    .botao-menu-mobile {
        font-size: 24px;
        cursor: pointer;
        color: white;
    }

    nav.mobile ul {
        display: none;
        z-index: 3;
        position: absolute;
        left: 0;
        top: 70px;
        text-align: center;
        width: 100%;
        padding: 0;
    }

    nav.mobile li {
        font-size: 17px;
        font-weight: 300;
        padding: 8px 0;
        width: 100%;
        display: block;
        background: white;
        border-bottom: 1px solid #ccc;
    }

    nav.mobile li a {
        display: block;
        color: #444;
        text-decoration: none;
    }

    .capa-detalhe {
        max-width: 150px;
    }

    .box-ultimos {
        display: none;
    }
    
    .box-ultimos-mobile {
        display: block;
    }

    /* .box-ultimos ul{
        background-color: #ce9d5a;
        height: 114px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
    }
    
    .box-ultimos li {
        float: left;
        margin-right: 10px;
    }
    
    .box-ultimos li a{
        text-decoration: none;
    }
    
    .box-ultimos img {
        height: 145px;
    } */
}